<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<div id="menu" ng-include="'views/common/menu.html'"></div>


<div class="wrapper row2" ng-controller="common/authreviewExcController">
	<div class ="container clear">
		<div class="content" >
			<div >
				<div>
						<h2><span style="font-family:'Malgun Gothic';">권한검토 수행</span></h2>
				</div>
				<div>
				      <h3><span style="font-family:'Malgun Gothic';">검토결과 업로드</span></h3>
				</div>
				<div>
				       <label>파일 업로드</label>
							 <input type="text"></input>
							 <button>찾아보기..</button>
							 <button>유효성체크</button>
				</div>
				<div>
							<h3><span style="font-family:'Malgun Gothic';">체크결과</span></h3>
				</div>
				<div>
					<table cellpadding="1" cellspacing="1" class="table">
						<colgroup>
							<col width="50"/>
							<col />
							<col width="70"/>
							<col width="100"/>
						</colgroup>
						<thead>
							<tr>
								<th>seq</th>
								<th>이름</th>
								<th>녹스ID</th>
								<th>부서</th>
								<th>권한명</th>
								<th>체크결과</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="auth in auths">
								<td>[[auth.seq]]</td>
								<td>[[auth.name]]</td>
								<td>[[auth.knoxID]]</td>
								<td>[[auth.dpt]]</td>
								<td>[[auth.authName]]</td>
								<td>[[auth.result]]</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>

							 <button class="fl_right" data-ng-click="resultExc()">결과반영 </button>
							 
				</div>
			</div>
		</div>
	</div>
</div>
