<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<div id="menu" ng-include="'views/common/menu.html'"></div>

<!-- Main Wrapper -->
<div class="wrapper row2" ng-controller="common/authreviewController">
	<div class ="container clear">
		<div class="content" >
			<div >
				<div>
						<h2><span style="font-family:'Malgun Gothic';">권한검토 조회</span></h2>
				</div>
				<div>
					<a href="#" class="button" ng-click="isclick()">업무시스템</a>
					<a href="#" class="button gray" class="gray">서버/DB</a>
				</div>
				<div>
					<a href="#" class="button" ng-click="isclick()">업무1</a>
					<a href="#" class="button gray" class="gray">업무2</a>
					<a href="#" class="button gray" class="gray">업무3</a>
					<a href="#" class="button gray" class="gray">업무4</a>
				</div>
				<div>
					<table cellpadding="1" cellspacing="1" class="table">
						<colgroup>
							<col width="50"/>
							<col />
							<col width="70"/>
							<col width="100"/>
						</colgroup>
						<thead>
							<tr>
								<th>seq</th>
								<th>이름</th>
								<th>녹스ID</th>
								<th>부서</th>
								<th>직무</th>
								<th>직급</th>
								<th>시스템</th>
								<th>권한명</th>
								<th>시작일</th>
								<th>종료일</th>
								<th>검토결과</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="auth in auths" >
								<td>[[auth.seq]]</td>
								<td>[[auth.name]]</td>
								<td>[[auth.knoxID]]</td>
								<td>[[auth.dpt]]</td>
								<td>[[auth.work]]</td>
								<td>[[auth.grade]]</td>
								<td>[[auth.system]]</td>
								<td>[[auth.authName]]</td>
								<td>[[auth.startDate]] <!--| date : 'yyyy-MM-dd'--></td>
								<td>[[auth.endDate]]</td>
								<td>[[auth.result]]</td>
							</tr>
						</tbody>
					</table>
				</div>
<div>
	<!-- <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
	<select ng-model="pageSize" id="pageSize" class="form-control" ng-change="setItemsPerPage(pageSize)">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
	 </select> -->


	<pagination total-items="auths" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
</div>

			</div>
		</div>
	</div>
</div>
