<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<div id="menu" ng-include="'views/common/menu.html'"></div>

<!-- Main Wrapper -->
<div class="wrapper row2" ng-controller="common/authreviewController">
	<div class ="container clear">
		<div class="content" >
			<div >
				<div>
					<h2>권한검토 조회</h2>
				</div>
				<div>
					<a href="#" class="button" ng-click="isclick()">업무시스템</a>
					<a href="#" class="button gray" class="gray">서버/DB</a>
				</div>
				<div>
					<a href="#" class="button" ng-click="isclick()">업무1</a>
					<a href="#" class="button gray" class="gray">업무2</a>
					<a href="#" class="button gray" class="gray">업무3</a>
					<a href="#" class="button gray" class="gray">업무4</a>
				</div>
				<div>
					<table cellpadding="1" cellspacing="1" class="table">
						<colgroup>
							<col width="50"/>
							<col />
							<col width="70"/>
							<col width="100"/>
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th colspan="2">제목</th>
								<th>게시일</th>
								<th>게시자</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="note in notices">
								<td>[[note.id]]</td>
								<td colspan="2">[[note.subject]]</td>
								<td>[[note.created | date : 'yyyy-MM-dd']]</td>
								<td>[[note.user_id]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


