<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<div id="menu" ng-include="'views/common/menu.html'"></div>

<!-- Main Wrapper -->
<div class="row2" ng-controller="admin/authreviewModController">
	<div class ="container clear">
		<div class="content" >
    		<div>
						<h2><span style="font-family:'Malgun Gothic';">검토내역수정</span></h2>
				</div>
        <form>
          <div>
				      <label type="text">검색조건</label>
              <select ng-model="selected" ng-options="opt as opt for opt in months" ng-init="selected=''"></select>
              <input type="text" ng-model="name"></input>
               <button>조회</button>
          </div>
          <div>

            <button>전체선택</button>

          </div>
          <div>
  					<table cellpadding="1" cellspacing="1" class="table">
  						<colgroup>
  							<col width="100"/>
  							<col />
  							<col width="70"/>
  							<col width="100"/>
  						</colgroup>
  						<thead>
  							<tr>
  								<th>seq</th>
  								<th>검토자</th>
  								<th>권한보유자</th>
  								<th>녹스ID</th>
  								<th>부서</th>
  								<th>직무</th>
  								<th>직급</th>
									<th>시스템</th>
									<th>권한명</th>
									<th>시작일</th>
									<th>종료일</th>
									<th>검토결과</th>

  							</tr>
  						</thead>
  						<tbody>
                <tr data-ng-model="tableMod">
									<td ><button ng-click="ismodify()">수정</button></td>
									<td >[[tableMod.authreviewer]]</td>
									<td><span><input type="text" class="editable-cell" data-ng-model="tableMod.name"></input></span></td>
									<td >[[tableMod.name]]</td>
									<td >[[tableMod.dpt]]</td>
									<td >[[tableMod.work]]</td>
									<td>[[tableMod.grade]]</td>
									<td>[[tableMod.system]]</td>
									<td>[[tableMod.authname]]</td>
									<td>[[tableMod.startDate]]</td>
									<td>[[tableMod.endDate]]</td>
									<td contenteditable="true">[[tableMod.result]]</td>


                </tr>
                <tr ng-repeat="statue in status">
                  <td>[[statue.seq]]</td>
									<td>[[statue.authreviewer]]</td>
									<td>[[statue.name]]</td>
									<td>[[statue.knoxID]]</td>
									<td>[[statue.dpt]]</td>
									<td>[[statue.work]]</td>
									<td>[[statue.grade]]</td>
									<td>[[statue.system]]</td>
									<td>[[statue.authname]]</td>
									<td>[[statue.startDate]]</td>
									<td>[[statue.endDate]]</td>
									<td>[[statue.result]]</td>



                </tr>
  						</tbody>
  					</table>
  				</div>

        </form>


      </div>
   </div>
</div>
